@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background: #222229;
    color:#9F9C99;
    font-family: "Playfair Display SC", "Playfair Display";
}
main h1{
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
    font-size: 4em;
}
p{
    font-family: "Playfair Display";
    font-size: 1.3rem;
    padding: 10px 90px 10px 10px;
}
#pright{
    padding: 10px 30px 10px 250px;
}
a{
    color:#9F9C99;
    text-decoration: none;
}
a:hover{
    color: #BA0307;
}
img{
    margin:30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #96050D;
    padding-right:100px;
    text-decoration:none;
}
nav img{
    width:200px;
}
nav a{
    text-decoration:none;
    color:#9F9C99;
}
/*nav{
    background: #96050D;
    padding: 10px 30px;
}
nav a{
    padding: 10px 30px;
}*/

.left{
    align-items: center;
    display: flex;
}
.left img{
    box-shadow: 10px 10px 5px #9F9C99;
}
#golf{
    width: 32em;
    height: auto;
    margin-bottom: 40px;
}

.right{
    display: flex;
    align-items: center;
}
.right img{
    box-shadow: 10px 10px 5px #9F9C99;
}
#me{
    padding-right: 6%;
    text-align: right;
    text-decoration: none;
    margin:auto;
}

.games{
    border: 3px solid #96050D;
    /*background: #96050D;*/
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    text-align: center;
    font-size: 1.5rem;
}
.games h2{
    grid-column: 1/4;
}
#complete{
    grid-column: 1/2;
    margin-bottom: 100px;
}
#developing{
    grid-column: 3/4;
}

footer{
    border: 3px solid #96050D;
    /*background: #96050D;*/
    margin-top: 100px;
    padding: 30px 30px;
    text-align: center;
}
footer a{
    font-size: 2rem;
    padding: 30px 60px;
}