@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background: #222229;
    color: #FFFFFF;
    font-family: "Playfair Display", "Playfair Display SC";
}

/* main */
.browse {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    justify-items: center;
    align-items: center;
}

#description {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

#description-image {
    width: 200px;
    border-radius: 8px;
}